<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ADFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08534AD618F6687F0014D4C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08534AE818F6699D0014D4C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08534B5D18F672B10014D4C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08932F3718F536C3002F21B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
